*.pyc
*.log
.svn
.idea
.ipynb_checkpoints
*.ipynb
*.sqlite
dist
*new.po
le2m/parts/oathAndLies
le2m/parts/TeamCommunication
le2m/parts/voteMajorite
le2m/parts/PublicGoodGameSolidarity
le2m/parts/goughScale
le2m/parts/relativesRelationships
le2m/parts/bienPublicKate/
le2m/parts/identiteConflits/
le2m/parts/HoltLaury/
le2m/parts/pestuse/
le2m/parts/PublicGoodStrategyMethod
le2m/parts/PublicGoodOneShot
le2m/parts/EffortComptage
le2m/parts/CoopVoixQuest
le2m/parts/MarcheConcurrence
le2m/parts/MarcheMonopole
le2m/parts/PublicGoodLocalGlobal
le2m/parts/MarketRiskInsurance
le2m/parts/PublicGoodIdentite
le2m/parts/questFinPestuse



