*.pyc
*.log
.svn
.idea
.ipynb_checkpoints
*.ipynb
*.sqlite
dist
*new.po
le2m/questcomp/questcomp.log
le2m/parts/oathAndLies
le2m/parts/TeamCommunication
le2m/parts/voteMajorite
le2m/parts/PublicGoodGameSolidarity
le2m/parts/goughScale
le2m/parts/relativesRelationships
le2m/parts/bienPublicKate/
le2m/parts/identiteConflits/
le2m/parts/PublicGoodStrategyMethod


